uyTube - Parte 3/uyTube - Servidor Web/WebContent/wsdl/ControladorVideo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://controladores.logica" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://controladores.logica" xmlns:intf="http://controladores.logica" xmlns:tns1="http://dt.logica" xmlns:tns2="http://tree.swing.javax" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://controladores.logica" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dt.logica"/>
   <import namespace="http://tree.swing.javax"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <element name="getInstance">
    <complexType/>
   </element>
   <element name="getInstanceResponse">
    <complexType>
     <sequence>
      <element name="getInstanceReturn" type="xsd:anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="EliminarVideo">
    <complexType>
     <sequence>
      <element name="id_user" type="xsd:int"/>
      <element name="vid_nom" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="EliminarVideoResponse">
    <complexType/>
   </element>
   <element name="obtenerVideoDtPorCOD">
    <complexType>
     <sequence>
      <element name="codigo" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerVideoDtPorCODResponse">
    <complexType>
     <sequence>
      <element name="obtenerVideoDtPorCODReturn" type="tns1:VideoDt"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="AltaVideo">
    <complexType>
     <sequence>
      <element name="nombre" type="xsd:string"/>
      <element name="duracion" type="xsd:string"/>
      <element name="url" type="xsd:string"/>
      <element name="desc" type="xsd:string"/>
      <element name="user" type="xsd:int"/>
      <element name="categoria" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="AltaVideoResponse">
    <complexType/>
   </element>
   <element name="ModificarVideo">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
      <element name="nuevoNom" type="xsd:string"/>
      <element name="nuevaDur" type="xsd:string"/>
      <element name="nuevaUrl" type="xsd:string"/>
      <element name="nuevaDesc" type="xsd:string"/>
      <element name="nuevaFpub" type="xsd:dateTime"/>
      <element name="nuevaPriv" type="xsd:boolean"/>
      <element name="nuevaCat" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="ModificarVideoResponse">
    <complexType/>
   </element>
   <element name="ValorarVideo">
    <complexType>
     <sequence>
      <element name="user_valoracion" type="xsd:int"/>
      <element name="id_video" type="xsd:int"/>
      <element name="gusta" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="ValorarVideoResponse">
    <complexType/>
   </element>
   <element name="ComentarVideo">
    <complexType>
     <sequence>
      <element name="user_id" type="xsd:int"/>
      <element name="video_id" type="xsd:int"/>
      <element name="id_padre" type="xsd:long"/>
      <element name="texto" type="xsd:string"/>
      <element name="fecha" type="xsd:dateTime"/>
     </sequence>
    </complexType>
   </element>
   <element name="ComentarVideoResponse">
    <complexType/>
   </element>
   <element name="obtenerVideoDt">
    <complexType>
     <sequence>
      <element name="nom" type="xsd:string"/>
      <element name="user" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerVideoDtResponse">
    <complexType>
     <sequence>
      <element name="obtenerVideoDtReturn" type="tns1:VideoDt"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerVideoDtPorID">
    <complexType>
     <sequence>
      <element name="id_video" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerVideoDtPorIDResponse">
    <complexType>
     <sequence>
      <element name="obtenerVideoDtPorIDReturn" type="tns1:VideoDt"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerComentariosVideo">
    <complexType>
     <sequence>
      <element name="id_video" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerComentariosVideoResponse">
    <complexType>
     <sequence>
      <element name="obtenerComentariosVideoReturn" type="xsd:anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerValoracionVideo">
    <complexType>
     <sequence>
      <element name="id_video" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerValoracionVideoResponse">
    <complexType>
     <sequence>
      <element name="obtenerValoracionVideoReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerVideos">
    <complexType/>
   </element>
   <element name="obtenerVideosResponse">
    <complexType>
     <sequence>
      <element name="obtenerVideosReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerComentariosDt">
    <complexType>
     <sequence>
      <element name="id_video" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerComentariosDtResponse">
    <complexType>
     <sequence>
      <element name="obtenerComentariosDtReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dt.logica"/>
   <import namespace="http://tree.swing.javax"/>
   <import namespace="http://controladores.logica"/>
   <complexType name="Vector">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://dt.logica" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://tree.swing.javax"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://controladores.logica"/>
   <complexType name="VideoDt">
    <sequence>
     <element name="categoria" nillable="true" type="xsd:string"/>
     <element name="codigo" nillable="true" type="xsd:string"/>
     <element name="descripcion" nillable="true" type="xsd:string"/>
     <element name="dislikes" type="xsd:int"/>
     <element name="duracion" type="xsd:float"/>
     <element name="embedded" nillable="true" type="xsd:string"/>
     <element name="fechaPublicacion" nillable="true" type="xsd:dateTime"/>
     <element name="id" nillable="true" type="xsd:int"/>
     <element name="idCanal" type="xsd:int"/>
     <element name="likes" type="xsd:int"/>
     <element name="nombre" nillable="true" type="xsd:string"/>
     <element name="privacidad" nillable="true" type="xsd:boolean"/>
     <element name="thumbnail" nillable="true" type="xsd:string"/>
     <element name="url" nillable="true" type="xsd:string"/>
     <element name="valoraciones" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="EliminarVideoResponse">

      <wsdl:part element="impl:EliminarVideoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerVideoDtPorIDRequest">

      <wsdl:part element="impl:obtenerVideoDtPorID" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerComentariosDtResponse">

      <wsdl:part element="impl:obtenerComentariosDtResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="AltaVideoRequest">

      <wsdl:part element="impl:AltaVideo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerVideosResponse">

      <wsdl:part element="impl:obtenerVideosResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerComentariosVideoRequest">

      <wsdl:part element="impl:obtenerComentariosVideo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerVideoDtPorCODRequest">

      <wsdl:part element="impl:obtenerVideoDtPorCOD" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ComentarVideoResponse">

      <wsdl:part element="impl:ComentarVideoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerVideoDtRequest">

      <wsdl:part element="impl:obtenerVideoDt" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerComentariosDtRequest">

      <wsdl:part element="impl:obtenerComentariosDt" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ComentarVideoRequest">

      <wsdl:part element="impl:ComentarVideo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ValorarVideoResponse">

      <wsdl:part element="impl:ValorarVideoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getInstanceResponse">

      <wsdl:part element="impl:getInstanceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerComentariosVideoResponse">

      <wsdl:part element="impl:obtenerComentariosVideoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerValoracionVideoRequest">

      <wsdl:part element="impl:obtenerValoracionVideo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getInstanceRequest">

      <wsdl:part element="impl:getInstance" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerVideoDtPorCODResponse">

      <wsdl:part element="impl:obtenerVideoDtPorCODResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ValorarVideoRequest">

      <wsdl:part element="impl:ValorarVideo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerVideosRequest">

      <wsdl:part element="impl:obtenerVideos" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ModificarVideoResponse">

      <wsdl:part element="impl:ModificarVideoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ModificarVideoRequest">

      <wsdl:part element="impl:ModificarVideo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerValoracionVideoResponse">

      <wsdl:part element="impl:obtenerValoracionVideoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerVideoDtResponse">

      <wsdl:part element="impl:obtenerVideoDtResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerVideoDtPorIDResponse">

      <wsdl:part element="impl:obtenerVideoDtPorIDResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="AltaVideoResponse">

      <wsdl:part element="impl:AltaVideoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="EliminarVideoRequest">

      <wsdl:part element="impl:EliminarVideo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ControladorVideo">

      <wsdl:operation name="getInstance">

         <wsdl:input message="impl:getInstanceRequest" name="getInstanceRequest">

       </wsdl:input>

         <wsdl:output message="impl:getInstanceResponse" name="getInstanceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="EliminarVideo">

         <wsdl:input message="impl:EliminarVideoRequest" name="EliminarVideoRequest">

       </wsdl:input>

         <wsdl:output message="impl:EliminarVideoResponse" name="EliminarVideoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerVideoDtPorCOD">

         <wsdl:input message="impl:obtenerVideoDtPorCODRequest" name="obtenerVideoDtPorCODRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerVideoDtPorCODResponse" name="obtenerVideoDtPorCODResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="AltaVideo">

         <wsdl:input message="impl:AltaVideoRequest" name="AltaVideoRequest">

       </wsdl:input>

         <wsdl:output message="impl:AltaVideoResponse" name="AltaVideoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ModificarVideo">

         <wsdl:input message="impl:ModificarVideoRequest" name="ModificarVideoRequest">

       </wsdl:input>

         <wsdl:output message="impl:ModificarVideoResponse" name="ModificarVideoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ValorarVideo">

         <wsdl:input message="impl:ValorarVideoRequest" name="ValorarVideoRequest">

       </wsdl:input>

         <wsdl:output message="impl:ValorarVideoResponse" name="ValorarVideoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ComentarVideo">

         <wsdl:input message="impl:ComentarVideoRequest" name="ComentarVideoRequest">

       </wsdl:input>

         <wsdl:output message="impl:ComentarVideoResponse" name="ComentarVideoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerVideoDt">

         <wsdl:input message="impl:obtenerVideoDtRequest" name="obtenerVideoDtRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerVideoDtResponse" name="obtenerVideoDtResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerVideoDtPorID">

         <wsdl:input message="impl:obtenerVideoDtPorIDRequest" name="obtenerVideoDtPorIDRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerVideoDtPorIDResponse" name="obtenerVideoDtPorIDResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerComentariosVideo">

         <wsdl:input message="impl:obtenerComentariosVideoRequest" name="obtenerComentariosVideoRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerComentariosVideoResponse" name="obtenerComentariosVideoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerValoracionVideo">

         <wsdl:input message="impl:obtenerValoracionVideoRequest" name="obtenerValoracionVideoRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerValoracionVideoResponse" name="obtenerValoracionVideoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerVideos">

         <wsdl:input message="impl:obtenerVideosRequest" name="obtenerVideosRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerVideosResponse" name="obtenerVideosResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerComentariosDt">

         <wsdl:input message="impl:obtenerComentariosDtRequest" name="obtenerComentariosDtRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerComentariosDtResponse" name="obtenerComentariosDtResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ControladorVideoSoapBinding" type="impl:ControladorVideo">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getInstance">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getInstanceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getInstanceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="EliminarVideo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="EliminarVideoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="EliminarVideoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerVideoDtPorCOD">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerVideoDtPorCODRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerVideoDtPorCODResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="AltaVideo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="AltaVideoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="AltaVideoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ModificarVideo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ModificarVideoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="ModificarVideoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ValorarVideo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ValorarVideoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="ValorarVideoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ComentarVideo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ComentarVideoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="ComentarVideoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerVideoDt">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerVideoDtRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerVideoDtResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerVideoDtPorID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerVideoDtPorIDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerVideoDtPorIDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerComentariosVideo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerComentariosVideoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerComentariosVideoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerValoracionVideo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerValoracionVideoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerValoracionVideoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerVideos">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerVideosRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerVideosResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerComentariosDt">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerComentariosDtRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerComentariosDtResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ControladorVideoService">

      <wsdl:port binding="impl:ControladorVideoSoapBinding" name="ControladorVideo">

         <wsdlsoap:address location="http://tempuri.org/uyTube - Servidor Web/services/ControladorVideo"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
