uyTube - Parte 3/uyTube - Servidor Web/WebContent/wsdl/WScontroladorUsuarioImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices.logica" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices.logica" xmlns:intf="http://webservices.logica" xmlns:tns1="http://dt.logica" xmlns:tns2="http://logica" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservices.logica" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dt.logica"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://logica"/>
   <element name="LoginUsuario">
    <complexType>
     <sequence>
      <element name="_user" type="xsd:string"/>
      <element name="_password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="LoginUsuarioResponse">
    <complexType>
     <sequence>
      <element name="LoginUsuarioReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerListaDt">
    <complexType>
     <sequence>
      <element name="id_user" type="xsd:int"/>
      <element name="lista" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerListaDtResponse">
    <complexType>
     <sequence>
      <element name="obtenerListaDtReturn" type="tns1:ListaDeReproduccionDt"/>
     </sequence>
    </complexType>
   </element>
   <element name="AltaUsuario">
    <complexType>
     <sequence>
      <element name="nick" type="xsd:string"/>
      <element name="pass" type="xsd:string"/>
      <element name="nom" type="xsd:string"/>
      <element name="apell" type="xsd:string"/>
      <element name="mail" type="xsd:string"/>
      <element name="fnac" type="xsd:dateTime"/>
      <element name="img" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="AltaUsuarioResponse">
    <complexType/>
   </element>
   <element name="ListarSeguidores">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="ListarSeguidoresResponse">
    <complexType>
     <sequence>
      <element name="ListarSeguidoresReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="BajaUsuario">
    <complexType>
     <sequence>
      <element name="iduser" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="BajaUsuarioResponse">
    <complexType/>
   </element>
   <element name="ConsultarUsuario">
    <complexType>
     <sequence>
      <element name="id_user" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="ConsultarUsuarioResponse">
    <complexType>
     <sequence>
      <element name="ConsultarUsuarioReturn" type="tns1:UsuarioDt"/>
     </sequence>
    </complexType>
   </element>
   <element name="AltaCanal">
    <complexType>
     <sequence>
      <element name="nombre" type="xsd:string"/>
      <element name="privado" type="xsd:boolean"/>
      <element name="categoria" type="xsd:string"/>
      <element name="user_id" type="xsd:int"/>
      <element name="descripcion" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="AltaCanalResponse">
    <complexType/>
   </element>
   <element name="probando">
    <complexType>
     <sequence>
      <element name="text" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="probandoResponse">
    <complexType>
     <sequence>
      <element name="probandoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="EliminarUsuario">
    <complexType>
     <sequence>
      <element name="id_user" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="EliminarUsuarioResponse">
    <complexType/>
   </element>
   <element name="seguirUsuario">
    <complexType>
     <sequence>
      <element name="seguidor" type="xsd:string"/>
      <element name="seguido" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="seguirUsuarioResponse">
    <complexType/>
   </element>
   <element name="obtenerCategorias">
    <complexType/>
   </element>
   <element name="obtenerCategoriasResponse">
    <complexType>
     <sequence>
      <element name="obtenerCategoriasReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerIdUsuario">
    <complexType>
     <sequence>
      <element name="nick" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerIdUsuarioResponse">
    <complexType>
     <sequence>
      <element name="obtenerIdUsuarioReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="ListarUsuarios">
    <complexType/>
   </element>
   <element name="ListarUsuariosResponse">
    <complexType>
     <sequence>
      <element name="ListarUsuariosReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="ModificarUsuario">
    <complexType>
     <sequence>
      <element name="id_user" type="xsd:int"/>
      <element name="nuevopass" type="xsd:string"/>
      <element name="nuevonom" type="xsd:string"/>
      <element name="nuevoapell" type="xsd:string"/>
      <element name="nuevafechaNac" type="xsd:dateTime"/>
      <element name="nuevonomC" type="xsd:string"/>
      <element name="nuevacatC" type="xsd:string"/>
      <element name="nuevadesC" type="xsd:string"/>
      <element name="nuevaprivC" type="xsd:boolean"/>
      <element name="nuevaImg" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="ModificarUsuarioResponse">
    <complexType/>
   </element>
   <element name="obtenerTipoLista">
    <complexType>
     <sequence>
      <element name="propietario" type="xsd:int"/>
      <element name="lista" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerTipoListaResponse">
    <complexType>
     <sequence>
      <element name="obtenerTipoListaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="ListarSiguiendo">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="ListarSiguiendoResponse">
    <complexType>
     <sequence>
      <element name="ListarSiguiendoReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerCanalDt">
    <complexType>
     <sequence>
      <element name="id_canal" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerCanalDtResponse">
    <complexType>
     <sequence>
      <element name="obtenerCanalDtReturn" type="tns1:CanalDt"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerVideosLista">
    <complexType>
     <sequence>
      <element name="id_user" type="xsd:int"/>
      <element name="lista" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerVideosListaResponse">
    <complexType>
     <sequence>
      <element name="obtenerVideosListaReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="ListarVideos">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="ListarVideosResponse">
    <complexType>
     <sequence>
      <element name="ListarVideosReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerNickUsuario">
    <complexType>
     <sequence>
      <element name="id_user" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerNickUsuarioResponse">
    <complexType>
     <sequence>
      <element name="obtenerNickUsuarioReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="AltaListaDeReproduccionPorDefecto">
    <complexType>
     <sequence>
      <element name="nombre" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="AltaListaDeReproduccionPorDefectoResponse">
    <complexType/>
   </element>
   <element name="AltaListaDeReproduccionParticular">
    <complexType>
     <sequence>
      <element name="nombre" type="xsd:string"/>
      <element name="id_propietario" type="xsd:int"/>
      <element name="privacidad" type="xsd:boolean"/>
      <element name="categoria" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="AltaListaDeReproduccionParticularResponse">
    <complexType/>
   </element>
   <element name="ModificarListaDeReproduccion">
    <complexType>
     <sequence>
      <element name="usuario" type="xsd:int"/>
      <element name="lista" type="xsd:string"/>
      <element name="nuevaCat" type="xsd:string"/>
      <element name="nuevaPri" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="ModificarListaDeReproduccionResponse">
    <complexType/>
   </element>
   <element name="AgregarVideoListaDeReproduccion">
    <complexType>
     <sequence>
      <element name="usuarioVideo" type="xsd:int"/>
      <element name="usuarioLista" type="xsd:int"/>
      <element name="video" type="xsd:string"/>
      <element name="lista" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="AgregarVideoListaDeReproduccionResponse">
    <complexType/>
   </element>
   <element name="QuitarVideoListaDeReproduccion">
    <complexType>
     <sequence>
      <element name="usuarioLista" type="xsd:int"/>
      <element name="lista" type="xsd:string"/>
      <element name="video" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="QuitarVideoListaDeReproduccionResponse">
    <complexType/>
   </element>
   <element name="dejarDeSeguirUsuario">
    <complexType>
     <sequence>
      <element name="seguidor" type="xsd:string"/>
      <element name="seguido" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="dejarDeSeguirUsuarioResponse">
    <complexType/>
   </element>
   <element name="listarVideosDeUsuario">
    <complexType>
     <sequence>
      <element name="usernick" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="listarVideosDeUsuarioResponse">
    <complexType>
     <sequence>
      <element name="listarVideosDeUsuarioReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerIdUsuarioMail">
    <complexType>
     <sequence>
      <element name="mail" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerIdUsuarioMailResponse">
    <complexType>
     <sequence>
      <element name="obtenerIdUsuarioMailReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerListasUsuario">
    <complexType>
     <sequence>
      <element name="id_user" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerListasUsuarioResponse">
    <complexType>
     <sequence>
      <element name="obtenerListasUsuarioReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerListasDtPorUsuario">
    <complexType>
     <sequence>
      <element name="id_user" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerListasDtPorUsuarioResponse">
    <complexType>
     <sequence>
      <element name="obtenerListasDtPorUsuarioReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerListaDtPorId">
    <complexType>
     <sequence>
      <element name="id_lista" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerListaDtPorIdResponse">
    <complexType>
     <sequence>
      <element name="obtenerListaDtPorIdReturn" type="tns1:ListaDeReproduccionDt"/>
     </sequence>
    </complexType>
   </element>
   <element name="ListarUsuariosInactivos">
    <complexType/>
   </element>
   <element name="ListarUsuariosInactivosResponse">
    <complexType>
     <sequence>
      <element name="ListarUsuariosInactivosReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerListas">
    <complexType/>
   </element>
   <element name="obtenerListasResponse">
    <complexType>
     <sequence>
      <element name="obtenerListasReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="estaSuscripto">
    <complexType>
     <sequence>
      <element name="suscripto" type="xsd:int"/>
      <element name="pcanal" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="estaSuscriptoResponse">
    <complexType>
     <sequence>
      <element name="estaSuscriptoReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://dt.logica" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://webservices.logica"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://logica"/>
   <complexType name="ListaDeReproduccionDt">
    <sequence>
     <element name="categoria" nillable="true" type="xsd:string"/>
     <element name="fechaUV" nillable="true" type="xsd:dateTime"/>
     <element name="id" type="xsd:int"/>
     <element name="idUsuario" type="xsd:int"/>
     <element name="nombre" nillable="true" type="xsd:string"/>
     <element name="privada" type="xsd:boolean"/>
     <element name="tipo" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="UsuarioDt">
    <sequence>
     <element name="activo" type="xsd:boolean"/>
     <element name="apellido" nillable="true" type="xsd:string"/>
     <element name="canal" nillable="true" type="tns2:Canal"/>
     <element name="fechanac" nillable="true" type="xsd:dateTime"/>
     <element name="id" nillable="true" type="xsd:int"/>
     <element name="imagen" nillable="true" type="xsd:string"/>
     <element name="mail" nillable="true" type="xsd:string"/>
     <element name="nickname" nillable="true" type="xsd:string"/>
     <element name="nombre" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="suscripciones" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
    </sequence>
   </complexType>
   <complexType name="CanalDt">
    <sequence>
     <element name="categoria" nillable="true" type="xsd:string"/>
     <element name="descripcion" nillable="true" type="xsd:string"/>
     <element name="fechaUV" nillable="true" type="xsd:dateTime"/>
     <element name="listas" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
     <element name="nombre" nillable="true" type="xsd:string"/>
     <element name="privacidad" nillable="true" type="xsd:boolean"/>
     <element name="seguidores" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
     <element name="userId" nillable="true" type="xsd:int"/>
     <element name="usuario" nillable="true" type="tns2:Usuario"/>
     <element name="videos" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://logica" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://webservices.logica"/>
   <import namespace="http://dt.logica"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <complexType name="Categoria">
    <sequence>
     <element name="nombre" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Usuario">
    <sequence>
     <element name="activo" type="xsd:boolean"/>
     <element name="apellido" nillable="true" type="xsd:string"/>
     <element name="canal" nillable="true" type="tns2:Canal"/>
     <element name="fechanac" nillable="true" type="xsd:dateTime"/>
     <element name="id" nillable="true" type="xsd:int"/>
     <element name="imagen" nillable="true" type="xsd:string"/>
     <element name="mail" nillable="true" type="xsd:string"/>
     <element name="nickname" nillable="true" type="xsd:string"/>
     <element name="nombre" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="suscripciones" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
     <element name="valoraciones" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
    </sequence>
   </complexType>
   <complexType name="Canal">
    <sequence>
     <element name="categoria" nillable="true" type="tns2:Categoria"/>
     <element name="descripcion" nillable="true" type="xsd:string"/>
     <element name="listas" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
     <element name="nombre" nillable="true" type="xsd:string"/>
     <element name="privacidad" nillable="true" type="xsd:boolean"/>
     <element name="seguidores" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
     <element name="userId" nillable="true" type="xsd:int"/>
     <element name="usuario" nillable="true" type="tns2:Usuario"/>
     <element name="videos" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://webservices.logica"/>
   <import namespace="http://dt.logica"/>
   <import namespace="http://logica"/>
   <complexType name="Vector">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="AltaUsuarioRequest">

      <wsdl:part element="impl:AltaUsuario" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="probandoRequest">

      <wsdl:part element="impl:probando" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerListasDtPorUsuarioRequest">

      <wsdl:part element="impl:obtenerListasDtPorUsuario" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ListarVideosRequest">

      <wsdl:part element="impl:ListarVideos" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="seguirUsuarioResponse">

      <wsdl:part element="impl:seguirUsuarioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerVideosListaRequest">

      <wsdl:part element="impl:obtenerVideosLista" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ListarSeguidoresResponse">

      <wsdl:part element="impl:ListarSeguidoresResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerListaDtPorIdRequest">

      <wsdl:part element="impl:obtenerListaDtPorId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerListaDtPorIdResponse">

      <wsdl:part element="impl:obtenerListaDtPorIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerListasRequest">

      <wsdl:part element="impl:obtenerListas" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ListarUsuariosResponse">

      <wsdl:part element="impl:ListarUsuariosResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="BajaUsuarioRequest">

      <wsdl:part element="impl:BajaUsuario" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="EliminarUsuarioResponse">

      <wsdl:part element="impl:EliminarUsuarioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerIdUsuarioResponse">

      <wsdl:part element="impl:obtenerIdUsuarioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerNickUsuarioResponse">

      <wsdl:part element="impl:obtenerNickUsuarioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerListasUsuarioRequest">

      <wsdl:part element="impl:obtenerListasUsuario" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="QuitarVideoListaDeReproduccionResponse">

      <wsdl:part element="impl:QuitarVideoListaDeReproduccionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="AltaListaDeReproduccionParticularRequest">

      <wsdl:part element="impl:AltaListaDeReproduccionParticular" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="LoginUsuarioRequest">

      <wsdl:part element="impl:LoginUsuario" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ListarUsuariosInactivosRequest">

      <wsdl:part element="impl:ListarUsuariosInactivos" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="EliminarUsuarioRequest">

      <wsdl:part element="impl:EliminarUsuario" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerVideosListaResponse">

      <wsdl:part element="impl:obtenerVideosListaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerCategoriasRequest">

      <wsdl:part element="impl:obtenerCategorias" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerCanalDtRequest">

      <wsdl:part element="impl:obtenerCanalDt" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="AltaListaDeReproduccionPorDefectoResponse">

      <wsdl:part element="impl:AltaListaDeReproduccionPorDefectoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="dejarDeSeguirUsuarioResponse">

      <wsdl:part element="impl:dejarDeSeguirUsuarioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ModificarUsuarioResponse">

      <wsdl:part element="impl:ModificarUsuarioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="estaSuscriptoResponse">

      <wsdl:part element="impl:estaSuscriptoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="AltaCanalResponse">

      <wsdl:part element="impl:AltaCanalResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerNickUsuarioRequest">

      <wsdl:part element="impl:obtenerNickUsuario" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="QuitarVideoListaDeReproduccionRequest">

      <wsdl:part element="impl:QuitarVideoListaDeReproduccion" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ListarSeguidoresRequest">

      <wsdl:part element="impl:ListarSeguidores" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerIdUsuarioMailResponse">

      <wsdl:part element="impl:obtenerIdUsuarioMailResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ListarUsuariosInactivosResponse">

      <wsdl:part element="impl:ListarUsuariosInactivosResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="AltaUsuarioResponse">

      <wsdl:part element="impl:AltaUsuarioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ConsultarUsuarioResponse">

      <wsdl:part element="impl:ConsultarUsuarioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerTipoListaResponse">

      <wsdl:part element="impl:obtenerTipoListaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="BajaUsuarioResponse">

      <wsdl:part element="impl:BajaUsuarioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerIdUsuarioRequest">

      <wsdl:part element="impl:obtenerIdUsuario" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listarVideosDeUsuarioRequest">

      <wsdl:part element="impl:listarVideosDeUsuario" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ListarVideosResponse">

      <wsdl:part element="impl:ListarVideosResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ListarUsuariosRequest">

      <wsdl:part element="impl:ListarUsuarios" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ModificarListaDeReproduccionRequest">

      <wsdl:part element="impl:ModificarListaDeReproduccion" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listarVideosDeUsuarioResponse">

      <wsdl:part element="impl:listarVideosDeUsuarioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="AgregarVideoListaDeReproduccionRequest">

      <wsdl:part element="impl:AgregarVideoListaDeReproduccion" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerCategoriasResponse">

      <wsdl:part element="impl:obtenerCategoriasResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ListarSiguiendoResponse">

      <wsdl:part element="impl:ListarSiguiendoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="AltaListaDeReproduccionPorDefectoRequest">

      <wsdl:part element="impl:AltaListaDeReproduccionPorDefecto" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerIdUsuarioMailRequest">

      <wsdl:part element="impl:obtenerIdUsuarioMail" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="estaSuscriptoRequest">

      <wsdl:part element="impl:estaSuscripto" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="AgregarVideoListaDeReproduccionResponse">

      <wsdl:part element="impl:AgregarVideoListaDeReproduccionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerListasUsuarioResponse">

      <wsdl:part element="impl:obtenerListasUsuarioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerListasDtPorUsuarioResponse">

      <wsdl:part element="impl:obtenerListasDtPorUsuarioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="probandoResponse">

      <wsdl:part element="impl:probandoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="AltaListaDeReproduccionParticularResponse">

      <wsdl:part element="impl:AltaListaDeReproduccionParticularResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ListarSiguiendoRequest">

      <wsdl:part element="impl:ListarSiguiendo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="dejarDeSeguirUsuarioRequest">

      <wsdl:part element="impl:dejarDeSeguirUsuario" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerListaDtRequest">

      <wsdl:part element="impl:obtenerListaDt" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerListaDtResponse">

      <wsdl:part element="impl:obtenerListaDtResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerTipoListaRequest">

      <wsdl:part element="impl:obtenerTipoLista" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ModificarListaDeReproduccionResponse">

      <wsdl:part element="impl:ModificarListaDeReproduccionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerListasResponse">

      <wsdl:part element="impl:obtenerListasResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="AltaCanalRequest">

      <wsdl:part element="impl:AltaCanal" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="LoginUsuarioResponse">

      <wsdl:part element="impl:LoginUsuarioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="seguirUsuarioRequest">

      <wsdl:part element="impl:seguirUsuario" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ModificarUsuarioRequest">

      <wsdl:part element="impl:ModificarUsuario" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ConsultarUsuarioRequest">

      <wsdl:part element="impl:ConsultarUsuario" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerCanalDtResponse">

      <wsdl:part element="impl:obtenerCanalDtResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WScontroladorUsuarioImpl">

      <wsdl:operation name="LoginUsuario">

         <wsdl:input message="impl:LoginUsuarioRequest" name="LoginUsuarioRequest">

       </wsdl:input>

         <wsdl:output message="impl:LoginUsuarioResponse" name="LoginUsuarioResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerListaDt">

         <wsdl:input message="impl:obtenerListaDtRequest" name="obtenerListaDtRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerListaDtResponse" name="obtenerListaDtResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="AltaUsuario">

         <wsdl:input message="impl:AltaUsuarioRequest" name="AltaUsuarioRequest">

       </wsdl:input>

         <wsdl:output message="impl:AltaUsuarioResponse" name="AltaUsuarioResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ListarSeguidores">

         <wsdl:input message="impl:ListarSeguidoresRequest" name="ListarSeguidoresRequest">

       </wsdl:input>

         <wsdl:output message="impl:ListarSeguidoresResponse" name="ListarSeguidoresResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="BajaUsuario">

         <wsdl:input message="impl:BajaUsuarioRequest" name="BajaUsuarioRequest">

       </wsdl:input>

         <wsdl:output message="impl:BajaUsuarioResponse" name="BajaUsuarioResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ConsultarUsuario">

         <wsdl:input message="impl:ConsultarUsuarioRequest" name="ConsultarUsuarioRequest">

       </wsdl:input>

         <wsdl:output message="impl:ConsultarUsuarioResponse" name="ConsultarUsuarioResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="AltaCanal">

         <wsdl:input message="impl:AltaCanalRequest" name="AltaCanalRequest">

       </wsdl:input>

         <wsdl:output message="impl:AltaCanalResponse" name="AltaCanalResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="probando">

         <wsdl:input message="impl:probandoRequest" name="probandoRequest">

       </wsdl:input>

         <wsdl:output message="impl:probandoResponse" name="probandoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="EliminarUsuario">

         <wsdl:input message="impl:EliminarUsuarioRequest" name="EliminarUsuarioRequest">

       </wsdl:input>

         <wsdl:output message="impl:EliminarUsuarioResponse" name="EliminarUsuarioResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="seguirUsuario">

         <wsdl:input message="impl:seguirUsuarioRequest" name="seguirUsuarioRequest">

       </wsdl:input>

         <wsdl:output message="impl:seguirUsuarioResponse" name="seguirUsuarioResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerCategorias">

         <wsdl:input message="impl:obtenerCategoriasRequest" name="obtenerCategoriasRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerCategoriasResponse" name="obtenerCategoriasResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerIdUsuario">

         <wsdl:input message="impl:obtenerIdUsuarioRequest" name="obtenerIdUsuarioRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerIdUsuarioResponse" name="obtenerIdUsuarioResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ListarUsuarios">

         <wsdl:input message="impl:ListarUsuariosRequest" name="ListarUsuariosRequest">

       </wsdl:input>

         <wsdl:output message="impl:ListarUsuariosResponse" name="ListarUsuariosResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ModificarUsuario">

         <wsdl:input message="impl:ModificarUsuarioRequest" name="ModificarUsuarioRequest">

       </wsdl:input>

         <wsdl:output message="impl:ModificarUsuarioResponse" name="ModificarUsuarioResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerTipoLista">

         <wsdl:input message="impl:obtenerTipoListaRequest" name="obtenerTipoListaRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerTipoListaResponse" name="obtenerTipoListaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ListarSiguiendo">

         <wsdl:input message="impl:ListarSiguiendoRequest" name="ListarSiguiendoRequest">

       </wsdl:input>

         <wsdl:output message="impl:ListarSiguiendoResponse" name="ListarSiguiendoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerCanalDt">

         <wsdl:input message="impl:obtenerCanalDtRequest" name="obtenerCanalDtRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerCanalDtResponse" name="obtenerCanalDtResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerVideosLista">

         <wsdl:input message="impl:obtenerVideosListaRequest" name="obtenerVideosListaRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerVideosListaResponse" name="obtenerVideosListaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ListarVideos">

         <wsdl:input message="impl:ListarVideosRequest" name="ListarVideosRequest">

       </wsdl:input>

         <wsdl:output message="impl:ListarVideosResponse" name="ListarVideosResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerNickUsuario">

         <wsdl:input message="impl:obtenerNickUsuarioRequest" name="obtenerNickUsuarioRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerNickUsuarioResponse" name="obtenerNickUsuarioResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="AltaListaDeReproduccionPorDefecto">

         <wsdl:input message="impl:AltaListaDeReproduccionPorDefectoRequest" name="AltaListaDeReproduccionPorDefectoRequest">

       </wsdl:input>

         <wsdl:output message="impl:AltaListaDeReproduccionPorDefectoResponse" name="AltaListaDeReproduccionPorDefectoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="AltaListaDeReproduccionParticular">

         <wsdl:input message="impl:AltaListaDeReproduccionParticularRequest" name="AltaListaDeReproduccionParticularRequest">

       </wsdl:input>

         <wsdl:output message="impl:AltaListaDeReproduccionParticularResponse" name="AltaListaDeReproduccionParticularResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ModificarListaDeReproduccion">

         <wsdl:input message="impl:ModificarListaDeReproduccionRequest" name="ModificarListaDeReproduccionRequest">

       </wsdl:input>

         <wsdl:output message="impl:ModificarListaDeReproduccionResponse" name="ModificarListaDeReproduccionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="AgregarVideoListaDeReproduccion">

         <wsdl:input message="impl:AgregarVideoListaDeReproduccionRequest" name="AgregarVideoListaDeReproduccionRequest">

       </wsdl:input>

         <wsdl:output message="impl:AgregarVideoListaDeReproduccionResponse" name="AgregarVideoListaDeReproduccionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="QuitarVideoListaDeReproduccion">

         <wsdl:input message="impl:QuitarVideoListaDeReproduccionRequest" name="QuitarVideoListaDeReproduccionRequest">

       </wsdl:input>

         <wsdl:output message="impl:QuitarVideoListaDeReproduccionResponse" name="QuitarVideoListaDeReproduccionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="dejarDeSeguirUsuario">

         <wsdl:input message="impl:dejarDeSeguirUsuarioRequest" name="dejarDeSeguirUsuarioRequest">

       </wsdl:input>

         <wsdl:output message="impl:dejarDeSeguirUsuarioResponse" name="dejarDeSeguirUsuarioResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listarVideosDeUsuario">

         <wsdl:input message="impl:listarVideosDeUsuarioRequest" name="listarVideosDeUsuarioRequest">

       </wsdl:input>

         <wsdl:output message="impl:listarVideosDeUsuarioResponse" name="listarVideosDeUsuarioResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerIdUsuarioMail">

         <wsdl:input message="impl:obtenerIdUsuarioMailRequest" name="obtenerIdUsuarioMailRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerIdUsuarioMailResponse" name="obtenerIdUsuarioMailResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerListasUsuario">

         <wsdl:input message="impl:obtenerListasUsuarioRequest" name="obtenerListasUsuarioRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerListasUsuarioResponse" name="obtenerListasUsuarioResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerListasDtPorUsuario">

         <wsdl:input message="impl:obtenerListasDtPorUsuarioRequest" name="obtenerListasDtPorUsuarioRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerListasDtPorUsuarioResponse" name="obtenerListasDtPorUsuarioResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerListaDtPorId">

         <wsdl:input message="impl:obtenerListaDtPorIdRequest" name="obtenerListaDtPorIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerListaDtPorIdResponse" name="obtenerListaDtPorIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ListarUsuariosInactivos">

         <wsdl:input message="impl:ListarUsuariosInactivosRequest" name="ListarUsuariosInactivosRequest">

       </wsdl:input>

         <wsdl:output message="impl:ListarUsuariosInactivosResponse" name="ListarUsuariosInactivosResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerListas">

         <wsdl:input message="impl:obtenerListasRequest" name="obtenerListasRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerListasResponse" name="obtenerListasResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="estaSuscripto">

         <wsdl:input message="impl:estaSuscriptoRequest" name="estaSuscriptoRequest">

       </wsdl:input>

         <wsdl:output message="impl:estaSuscriptoResponse" name="estaSuscriptoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WScontroladorUsuarioImplSoapBinding" type="impl:WScontroladorUsuarioImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="LoginUsuario">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="LoginUsuarioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="LoginUsuarioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerListaDt">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerListaDtRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerListaDtResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="AltaUsuario">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="AltaUsuarioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="AltaUsuarioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ListarSeguidores">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ListarSeguidoresRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="ListarSeguidoresResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="BajaUsuario">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="BajaUsuarioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="BajaUsuarioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ConsultarUsuario">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ConsultarUsuarioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="ConsultarUsuarioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="AltaCanal">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="AltaCanalRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="AltaCanalResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="probando">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="probandoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="probandoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="EliminarUsuario">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="EliminarUsuarioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="EliminarUsuarioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="seguirUsuario">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="seguirUsuarioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="seguirUsuarioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerCategorias">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerCategoriasRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerCategoriasResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerIdUsuario">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerIdUsuarioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerIdUsuarioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ListarUsuarios">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ListarUsuariosRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="ListarUsuariosResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ModificarUsuario">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ModificarUsuarioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="ModificarUsuarioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerTipoLista">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerTipoListaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerTipoListaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ListarSiguiendo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ListarSiguiendoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="ListarSiguiendoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerCanalDt">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerCanalDtRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerCanalDtResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerVideosLista">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerVideosListaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerVideosListaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ListarVideos">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ListarVideosRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="ListarVideosResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerNickUsuario">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerNickUsuarioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerNickUsuarioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="AltaListaDeReproduccionPorDefecto">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="AltaListaDeReproduccionPorDefectoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="AltaListaDeReproduccionPorDefectoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="AltaListaDeReproduccionParticular">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="AltaListaDeReproduccionParticularRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="AltaListaDeReproduccionParticularResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ModificarListaDeReproduccion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ModificarListaDeReproduccionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="ModificarListaDeReproduccionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="AgregarVideoListaDeReproduccion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="AgregarVideoListaDeReproduccionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="AgregarVideoListaDeReproduccionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="QuitarVideoListaDeReproduccion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="QuitarVideoListaDeReproduccionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="QuitarVideoListaDeReproduccionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="dejarDeSeguirUsuario">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="dejarDeSeguirUsuarioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="dejarDeSeguirUsuarioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listarVideosDeUsuario">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listarVideosDeUsuarioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listarVideosDeUsuarioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerIdUsuarioMail">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerIdUsuarioMailRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerIdUsuarioMailResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerListasUsuario">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerListasUsuarioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerListasUsuarioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerListasDtPorUsuario">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerListasDtPorUsuarioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerListasDtPorUsuarioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerListaDtPorId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerListaDtPorIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerListaDtPorIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ListarUsuariosInactivos">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ListarUsuariosInactivosRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="ListarUsuariosInactivosResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerListas">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerListasRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerListasResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="estaSuscripto">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="estaSuscriptoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="estaSuscriptoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WScontroladorUsuarioImplService">

      <wsdl:port binding="impl:WScontroladorUsuarioImplSoapBinding" name="WScontroladorUsuarioImpl">

         <wsdlsoap:address location="http://localhost:8080/uytube_-_Servidor_Web/services/WScontroladorUsuarioImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
